@use '../abstracts/variables' as *;

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $grey-dark-color;
  padding: 8rem 5rem;

  &__logo {
    margin-bottom: 5rem;
    width: 12rem;
    height: 15rem;
  }

  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    list-style: none;

    a {
      color: $white-color;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
