@use '../abstracts/variables' as *;

.adventure-card {
  box-shadow: 0 0.4rem 0.4rem 0 rgba($clr-black, 10%);
  border-radius: 0.5rem;
  background: rgba($clr-white, 80%);
  padding: 2.5rem;
  padding-bottom: 3rem;
  text-align: center;
  &__title {
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  &__icon {
    display: inline-block;
    margin-bottom: 2.5rem;
    background: $gradient-lightbrown-to-brown;
    background-clip: text;
    color: transparent;
    font-size: 6.4rem;
  }

  &__desc {
  }
}
