@use '../abstracts/variables' as *;
@use '../vendors/gls' as gls;

.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  background:
    $brown-black-gradient,
    url(/images/hero-bg.jpg) center / cover no-repeat scroll;
  height: 95vh;
  color: $white-color;

  &__title {
    animation: leftToRight 1s ease-in;
    margin-bottom: 1rem;
  }

  &__subtitle {
    animation: rightToLeft 1s ease-in;
    margin-bottom: 5rem;
    font-weight: 300;
    font-size: 4rem;
    letter-spacing: 0.5rem;
    text-transform: lowercase;
  }

  &__logo {
    position: absolute;
    top: 5rem;
    left: 5rem;
    @include gls.sizer(5.6rem, 7rem);
  }
}
