.simple-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include breakpoint(min, large) {
    height: 100vh;
  }

  &__inner {
    max-width: 600px;
  }

  &__title {
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 2.5rem;
  }

  &__text {
    line-height: 1.2;
  }

  &__image {
    max-width: 100%;
  }

  &__btn {
    appearance: unset;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
    margin-top: 5px;
    border: unset;
    border-radius: 10px;
    background: $primary-color;
    padding: 10px 20px;
    color: #fff;
    font-weight: 600;

    &:active {
      transform: translateY(1.5px);
    }
  }
}
