$clr-lightbrown: #ba8554;
$clr-brown: #a14f03;
$clr-gray: #777777;
$clr-white: #fafafa;
$clr-black: #000;
$clr-darkgray: #333;

$gradient-lightbrown-to-black: linear-gradient(
  to right,
  rgba($clr-lightbrown, 0.7),
  rgba($clr-black, 0.7)
);

$gradient-lightbrown-to-brown: linear-gradient(
  to right,
  rgba($clr-lightbrown, 0.7),
  rgba($clr-brown, 0.7)
);
