footer.footer
  img.footer__logo(src="/images/logo.svg", alt="Логотип")
  ul.footer__menu 
    li #[a(href="") О нас]
    li #[a(href="") Скидки]
    li #[a(href="") Лучшие туры]
    li #[a(href="") Калькулятор цены]
    li #[a(href="") Связаться с нами]