include /components/ui/button

header.hero
  img.hero__logo(src="/images/logo.svg", alt="Логотип")
  h1.hero__title.heading_first Туры на воздушном шаре
  p.hero__subtitle Незабываемое приключение ждет вас
  +button('#')
    | Наш каталог