.simple-block
  .simple-block__inner
    img(src="/images/uwu.gif", alt="yuru yuri").simple-block__image
    h1.simple-block__title Hello World
    p.simple-block__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam assumenda atque commodi expedita modi odit omnis ratione? Cumque, in, nesciunt. Ab animi dicta est facere necessitatibus nulla odit perspiciatis quis.
    button.simple-block__btn You clicked 0 times!