@keyframes leftToRight {
  0% {
    transform: translateX(-8rem);
    opacity: 0;
  }

  80% {
    transform: translateX(2rem);
  }

  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}

@keyframes rightToLeft {
  0% {
    transform: translateX(8rem);
    opacity: 0;
  }

  80% {
    transform: translateX(-2rem);
  }

  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}
